@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PortfolioProject.Models.Project>

<div class="banner">
    <h1>Allie Holcombe</h1>
    <ul class="list-unstyled">
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
    </ul>
</div>

<div class="content-wrapper">

    @foreach (var project in Model)
    {
        <p>@Html.DisplayFor(m => project.Name)</p>
    }
</div>