@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>This is projects</p>

<h3>Projects</h3>

<form class="project" action="GetProjects">
    <button type="submit">Submit</button>
</form>