@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PortfolioProject.Models.Project>

<div class="banner">
    <h1>@Html.ActionLink("Allie Holcombe", "Index", "Home")</h1>
    <ul class="list-unstyled">
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
    </ul>
</div>

<div class="content-wrapper">
    <p class="project"><em>Most Starred on GitHub</em></p>

    @foreach (var project in Model)
    {
        <p class="project"><a href=@project.Url>@Html.DisplayFor(m => project.Name)</a></p>
    }
</div>