@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PortfolioProject.Models.Project>

<p>This is projects</p>

<h3>Projects</h3>

@foreach (var project in Model)
{
    <p>@Html.DisplayFor(m => project.Name)</p>
}