@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-banner banner">
    <h1>Allie Holcombe</h1>
    <ul class="list-unstyled">
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
    </ul>
</div>


