@font-face {
    font-family: 'baron neue';
    src: url('../fonts/baron neue.otf') format('opentype');
}

html {
    background: url('../images/seattleimg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    position: relative;
    min-height: 100vh;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .4);
    padding: 0 20px;

    h1 {
        font-family: 'Baron Neue', sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 80px;
        text-align: center;
        margin-top: 0;
    }

    ul {
        text-align: center;
        display: flex;
        justify-content: space-around;

        li {
            /*display: inline-block;*/
            font-family: 'Castro Script PERSONAL USE ONLY';
            text-transform: lowercase;
            font-size: 50px;
        }
    }

    a {
        color: white;
        text-decoration: none;
    }
}
