@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner">
    <h1>Allie Holcombe</h1>
    <ul class="list-unstyled">
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
    </ul>
</div>

<div class="content-wrapper">
    <img id="photo" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAnqAAAAJGI1NzYyMmMzLWNlZjctNDdkNi05NzNiLWViZjU1NWZkZjA4NA.jpg" />
    <p>Let's imagine this is a much more flattering "about" section written recently, rather than the exact same one I used on my first project.</p>
    <p class="about">My name is Allie Holcombe, and that is not a picture of me.  Actually, it is.  JK.</p>
    <p>I come to Epicodus from a retail sales leadership position and most of an undergrad degree in history.  In January, a friend of mine with a degree in theater tech started working at a startup as a junior developer.  When I asked how she got there, she told me about her experiences at a coding bootcamp.  For the first time since leaving college, a new path forward caught my attention.</p>
    <p><span class="quote-this"> "I can do that," I thought.</span>  "I used to enjoy HTML and CSS so much!" Unfortunately, with college work and a full-time job, my time spent learning how to make Wordpress themes and figuring out how Joomla worked dwindled to no time at all.</p>
    <p>After several months of investigating bootcamps and learn-to-code programs in Washington, California, and Colorado, as well as studying Javascript to pass one of the admissions exams, I found Epicodus.  The <em>flipped-classroom</em> and <em>pairing model</em> sold me.</p>
    <p>When not coding, I like to hang out with my dogs and paint my nails, like a super-duper interesting person.</p>
</div>